In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns',None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
#reading the csv data 
df = pd.read_csv('train_indessa.csv')
df.head()
#The data contains 532428 rows and 45 columns.

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,9 years,OWN,28700.0,Source Verified,n,NaN,debt_consolidation,Debt consolidation,349xx,FL,33.88,0.0,1.0,50.0,75.0,14.0,1.0,22515.0,73.1,28.0,f,1173.84,0.0,0.0,0.0,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,< 1 year,MORTGAGE,65000.0,Source Verified,n,NaN,home_improvement,Home improvement,209xx,MD,3.64,0.0,1.0,NaN,NaN,6.0,0.0,7624.0,23.2,13.0,w,83.95,0.0,0.0,0.0,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,2 years,OWN,45000.0,Not Verified,n,NaN,debt_consolidation,Debt consolidation,447xx,OH,18.42,0.0,0.0,NaN,NaN,5.0,0.0,10877.0,31.2,19.0,w,56.47,0.0,0.0,0.0,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,10+ years,RENT,105000.0,Not Verified,n,> My goal is to obtain a loan to pay off my hi...,debt_consolidation,Debt consolidation,221xx,VA,14.97,0.0,2.0,46.0,NaN,10.0,0.0,13712.0,55.5,21.0,f,4858.62,0.0,0.0,0.0,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,10+ years,RENT,52000.0,Verified,n,NaN,credit_card,refi,900xx,CA,20.16,0.0,0.0,NaN,NaN,11.0,0.0,35835.0,76.2,27.0,w,2296.41,0.0,0.0,0.0,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

In [40]:
df1.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
emp_length                    0
annual_inc                    0
verification_status           0
addr_state                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
mths_since_last_delinq        0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
collections_12_mths_ex_med    0
last_week_pay                 0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
loan_status                   0
grade_num                     0
dtype: int64

1. verification_status_joint (% of null values is 99.92) 

2.  application_type  (biased towards the category 'individual')

3. mths_since_last_major_derog (mths_since_last_delinq and mths_since_last_major_derog have similar values and 
                               
   mths_since_last_major_derog null values % is 75% so the overall significant data is 10.28% only )       

4.  pymnt_plan (biased towards the category 'no')

5. desc (cant be used --sentence) 

6. zip_code  (Zip codes cant be converted or used due to extermly large number of unique values 
   instead we converted the addr_state) 

7.  batch_enrolled (too many unique categories) 

8.  member_id (unique values)

9. emp_title  (too many categories and some of them are not relevant)   

10. title (too many catergories and many irrelevant data )

11. mths_since_last_record (84.57% of null values)

In [4]:
df1 = df1.drop(['verification_status_joint','application_type','mths_since_last_major_derog','pymnt_plan','desc',
                'zip_code','batch_enrolled','member_id','emp_title','title','mths_since_last_record'] , axis = 1)

In [5]:
df1 = df1.drop(['home_ownership','purpose'],axis =1)

In [6]:
df1 = df1.dropna(subset=['delinq_2yrs'])

In [7]:
df1['last_week_pay'] = df1['last_week_pay'].replace('NAth week',None)
df1['last_week_pay'] = df1['last_week_pay'].fillna('0') # filling the null values with 0's
df1['last_week_pay'] = df1['last_week_pay'].str.extract('(\d+)') # Extract the numerical value in the string
df1['last_week_pay'] = df1['last_week_pay'].astype(int) # converting string to integer

In [8]:
dict = {'10+ years' : 10,
        '2 years'   : 2 ,
        '< 1 year'  : 0 ,
        '3 years'   : 3 ,
        '1 year'    : 1 ,
        '5 years'   : 5 ,
        '4 years'   : 4 ,
        '7 years'   : 7 ,
        '8 years'   : 8 ,
        '6 years'   : 6 ,
        '9 years'   : 9 }

df1['emp_length'] = df1.emp_length.map(dict) # converting the emp expiernce to numerical 
df1['emp_length'] = df1['emp_length'].fillna('0') # filling the null values with 0's
df1['emp_length'] = df1['emp_length'].astype(int)

In [9]:
# Classification of Address State
dic = {'S': ['DE', 'MD', 'VA', 'WV' ,'KY', 'NC' ,'SC','TN' ,'GA', 'FL' ,'AL' ,'MS' ,'AR' , 'LA', 'TX', 'OK','DC' ], 
       'W': ['WA', 'MT' , 'OR' , 'ID' ,'WY' , 'NV' ,'UT' ,'CO' ,'CA', 'AZ','NM', 'HI', 'AK' ],
       'MW' : ['ND','MN' , 'SD' ,'NE' ,'IA' ,'KS' , 'MO' , 'WI' , 'IL' , 'IN' ,'OH' ,'MI'],
       'NE' : ['PA', 'UT' ,'NH', 'ME','MA', 'RI' ,'CT' ,'NJ','NY','VT']}
# Dictionary for classifying regions according to their states

rep_df1 = []
for i in df1['addr_state']:
    for j,k in dic.items():
        if i in k:
            rep_df1.append(j)
            break
 
df1['addr_state'] = rep_df1

In [10]:
char = ['G', 'F', 'E', 'D', 'C', 'B', 'A']
    
for i ,j in zip(char , range(1,8)):
    df1['grade'].replace(i,j , regex = True , inplace = True)

df1['num'] = df1['sub_grade'].str[1] 
df1['num'] = df1['num'].astype(int)
rep = {5:1 , 4:2 ,3:3 ,2:4 , 1:5}
df1['num_inv'] = df1['num'].map(rep)
df1['grade_num'] = df1['grade'].astype(str) + df1['num_inv'].astype(str)
df1['grade_num'] = df1['grade_num'].astype(int)

df1 = df1.drop(['num','num_inv','grade','sub_grade'] , axis = 1)


# Converting the subgrades as :- 
                                    # A1,A2,A3,A4,A5 ------> 75,74,73,72,71
                                    # B1,B2,B3,B4,B5 ------> 65,64,63,62,61
                                    # C1,C2,C3,C4,C5 ------> 55,54,53,52,51
                                    # D1,D2,D3,D4,D5 ------> 45,44,43,42,41
                                    # E1,E2,E3,E4,E5 ------> 35,34,33,32,31
                                    # F1,F2,F3,F4,F5 ------> 25,24,23,22,21
                                    # G1,G2,G3,G4,G5 ------> 15,14,13,12,11

# respectively

In [11]:
df1['revol_util'] = df1['revol_util'].fillna(df1['revol_util'].median()) 
# revol_util the columns had 287 nulls and the data had high kurtosis so it was decide  
# to take median sine it wont affect the 5 lakh data set
df1['collections_12_mths_ex_med'] = df1['collections_12_mths_ex_med'].fillna(df1['collections_12_mths_ex_med'].median())
# collections_12_mths_ex_med majority of it was around 0,so median seemed ideal

In [12]:
df1['mths_since_last_delinq'] = df1['mths_since_last_delinq'].fillna(0)
# converting the null values to 0

In [13]:
df1['tot_coll_amt'] = df1['tot_coll_amt'].fillna(df1['tot_coll_amt'].median())
df1['tot_cur_bal'] = df1['tot_cur_bal'].fillna(df1['tot_cur_bal'].median())
df1['total_rev_hi_lim'] = df1['total_rev_hi_lim'].fillna(df1['total_rev_hi_lim'].median())

In [14]:
y = df1.loan_status

In [15]:
df_num = df1.select_dtypes(exclude = 'object')
df_cat = df1.select_dtypes(include = 'object')

In [16]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler()
num_scaled = X_scaler.fit_transform(df_num)

In [17]:
df_num = pd.DataFrame(num_scaled,columns = df_num.columns)

In [18]:
X = pd.concat([df_num , df_cat], axis = 1)

In [19]:
LE = LabelEncoder()
X['term'] = LE.fit_transform(X['term'])

In [20]:
X['verification_status'] = LE.fit_transform(X['verification_status'])

In [21]:
X['initial_list_status'] = LE.fit_transform(X['initial_list_status'])

In [22]:
X = pd.get_dummies(data = X , columns = ['addr_state'], drop_first = True)

In [23]:
X.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,grade_num,term,verification_status,initial_list_status,addr_state_NE,addr_state_S,addr_state_W
0,-0.048364,-0.046814,-0.042097,1.357864,0.865087,-0.710585,1.880871,-0.365619,0.306308,1.458701,0.462098,1.379088,0.249437,0.756576,0.230735,-0.276907,-0.096546,-0.111593,-0.076976,-0.107502,-0.724270,-0.063386,-0.104603,-0.714885,-0.016934,-0.556265,-1.700245,0,1,0,0,1,0
1,-1.180641,-1.179801,-1.173471,-0.514449,-1.499322,-0.153837,-1.732488,-0.365619,0.306308,-0.726478,-1.044085,-0.333764,-0.414648,-1.335900,-1.035814,-0.797584,-0.096546,-0.111593,-0.076976,-0.107502,-1.107901,-0.063386,-0.104603,-0.840919,0.040456,-0.556265,0.534961,0,1,1,0,1,0
2,-0.564113,-0.562887,-0.557435,-1.366123,-0.973898,-0.460585,0.033565,-0.365619,-0.696676,-0.726478,-1.232358,-0.333764,-0.269576,-1.000433,-0.529195,-0.810712,-0.096546,-0.111593,-0.076976,-0.107502,-1.107901,-0.063386,-0.070040,-0.650296,0.095114,-0.556265,1.305721,0,0,1,0,0,0
3,0.028702,0.030301,0.034908,1.478880,1.127799,0.459659,-0.378673,-0.365619,1.309293,1.283887,-0.290994,-0.333764,-0.143145,0.018548,-0.360321,1.483436,-0.096546,-0.111593,-0.076976,-0.107502,1.735482,-0.063386,-0.104603,-0.534063,-0.183640,-0.556265,-1.083637,0,0,0,0,1,0
4,0.147265,0.148938,0.153376,-0.594365,1.127799,-0.353223,0.241477,-0.365619,-0.696676,-0.726478,-0.102721,-0.333764,0.843461,0.886569,0.146299,0.259382,-0.096546,-0.111593,-0.076976,-0.107502,0.855387,-0.063386,-0.104603,-0.590635,0.426694,-0.556265,0.689113,0,2,1,0,0,1

In [ ]:
sns.pairplot(df1)

In [24]:
X = X.drop(['loan_status'] , axis = 1)

In [25]:
X = X.dropna(axis = 0)

In [26]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y , random_state = 10, test_size = 0.2)

In [28]:
X_train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,grade_num,term,verification_status,initial_list_status,addr_state_NE,addr_state_S,addr_state_W
279906,0.526667,0.528578,0.532475,-0.930011,1.127799,0.843094,-0.150448,0.797112,0.306308,-0.070924,0.650371,-0.333764,0.060750,1.305903,-0.360321,-0.273788,-0.096546,-0.111593,-0.076976,-0.107502,-0.430905,-0.063386,-0.104603,4.707079,-0.276558,0.689113,1,2,0,0,1,0
479937,-0.326987,-0.325612,-0.320498,-1.809085,-1.236610,0.229598,-0.580610,-0.365619,-0.696676,2.026848,1.403463,-0.333764,0.856572,-1.138813,1.328412,-0.813971,-0.096546,-0.111593,-0.076976,-0.107502,-1.220733,-0.063386,-0.104603,-0.590433,2.674950,1.536950,0,0,0,0,0,0
319455,-0.979084,-0.978118,-0.972075,-1.153776,1.127799,0.030212,-0.700100,-0.365619,-0.696676,2.332773,0.085552,1.379088,-0.479357,-0.186925,1.159538,-0.621401,-0.096546,-0.111593,-0.076976,-0.107502,-0.137540,-0.063386,-0.104603,0.680925,-0.525249,1.228645,1,2,1,1,0,0
317931,1.433675,1.436154,1.438759,1.054184,1.127799,0.349229,-0.542374,-0.365619,0.306308,-0.726478,3.286193,-0.333764,0.598136,-0.254019,1.328412,0.445326,-0.096546,-0.111593,-0.076976,-0.107502,-0.521171,-0.063386,-0.104603,0.281924,0.832991,-1.083637,0,1,0,0,1,0
426404,0.028702,0.030301,0.034908,-1.512255,-0.448473,-0.118561,-0.584195,-0.365619,-0.696676,-0.726478,-0.290994,-0.333764,0.207338,1.268163,0.568482,-0.190361,-0.096546,-0.111593,-0.076976,-0.107502,0.945653,-0.063386,-0.104603,0.356595,-0.167243,1.459874,0,0,1,0,1,0

In [29]:
y_train = y_train.values.reshape(-1,1)

In [41]:
print('X_train', X_train.shape)
print('y_train', y_train.shape)

# print dimension of test set
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (425929, 33)
y_train (425929, 1)
X_test (106483, 32)
y_test (106483,)

In [30]:
X_train = sm.add_constant(X_train)
logreg = sm.Logit(y_train , X_train).fit()
print(logreg.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.462194
         Iterations: 35

C:\Users\DELL\anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:               425929
Model:                          Logit   Df Residuals:                   425896
Method:                           MLE   Df Model:                           32
Date:                Sat, 23 Jul 2022   Pseudo R-squ.:                  0.1547
Time:                        18:33:51   Log-Likelihood:            -1.9686e+05
converged:                      False   LL-Null:                   -2.3290e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                        -53.6068     43.829     -1.223      0.221    -139.510      32.296
loan_amnt                      2.9647      0.151     19.637      0.000       2.669       3.261
funded_amnt                    3.4177      0.235     14.549      0.000       2.957       3.878
funded_amnt_inv               -6.4121      0.174    -36.878      0.000      -6.753      -6.071
int_rate                       2.6025      0.020    127.771      0.000       2.563       2.642
emp_length                    -0.0067      0.004     -1.666      0.096      -0.015       0.001
annual_inc                     0.0010      0.004      0.233      0.816      -0.007       0.009
dti                           -0.3010      0.005    -63.654      0.000      -0.310      -0.292
delinq_2yrs                   -0.1597      0.005    -32.672      0.000      -0.169      -0.150
inq_last_6mths                 0.1552      0.004     38.279      0.000       0.147       0.163
mths_since_last_delinq        -0.0814      0.004    -19.700      0.000      -0.090      -0.073
open_acc                      -0.2225      0.006    -36.713      0.000      -0.234      -0.211
pub_rec                       -0.2012      0.005    -37.319      0.000      -0.212      -0.191
revol_bal                      0.1256      0.009     13.672      0.000       0.108       0.144
revol_util                    -0.1640      0.005    -31.913      0.000      -0.174      -0.154
total_acc                      0.3028      0.006     53.327      0.000       0.292       0.314
total_rec_int                 -0.3756      0.008    -49.223      0.000      -0.391      -0.361
total_rec_late_fee            -0.0260      0.005     -5.465      0.000      -0.035      -0.017
recoveries                  -314.5133    173.432     -1.813      0.070    -654.433      25.407
collection_recovery_fee     -224.4006    584.330     -0.384      0.701   -1369.666     920.864
collections_12_mths_ex_med    -0.0840      0.006    -14.820      0.000      -0.095      -0.073
last_week_pay                  0.4409      0.005     81.128      0.000       0.430       0.452
acc_now_delinq                -0.0179      0.005     -3.584      0.000      -0.028      -0.008
tot_coll_amt                  -0.1068      0.008    -14.078      0.000      -0.122      -0.092
tot_cur_bal                    0.0042      0.005      0.870      0.384      -0.005       0.014
total_rev_hi_lim              -0.1644      0.011    -14.655      0.000      -0.186      -0.142
grade_num                      2.4449      0.020    121.492      0.000       2.405       2.484
term                          -0.0871      0.009     -9.533      0.000      -0.105      -0.069
verification_status            0.0085      0.005      1.672      0.095      -0.001       0.018
initial_list_status           -0.1800      0.008    -22.345      0.000      -0.196      -0.164
addr_state_NE                 -0.0202      0.013     -1.558      0.119      -0.046       0.005
addr_state_S                   0.0088      0.012      0.753      0.452      -0.014       0.032
addr_state_W                   0.0579      0.012      4.740      0.000       0.034       0.082
==============================================================================================

In [35]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

logreg.score(X_train, y_train)

0.7808954074505375